@model VendorManagement2.Models.ViewModels.EventsAndUsersViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2 class="my-4">Events List</h2>

<div class="row">
    @foreach (var item in Model.Events)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.EventName)</h5>
                    <p class="card-text">@item.EventDate.ToString("yyyy-MM-dd")</p>
                    <p>@Html.ActionLink("Details", "Details", "Event", new { id = item.EventID }, new { @class = "btn btn-primary" })</p>
                </div>
            </div>
        </div>
    }
</div>

<h2 class="my-4">Users List</h2>

<div class="row">
    @foreach (var item in Model.Users)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Username)</h5>
                    <p>@Html.ActionLink("Details", "Details", "User", new { id = item.UserID }, new { @class = "btn btn-primary" })</p>
                </div>
            </div>
        </div>
    }
</div>

@section Styles {
    <style>
        .card {
            border: 1px solid #ddd;
            padding: 10px;
            margin: 10px;
            width: 100%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .card-title {
            font-size: 1.25rem;
            margin-bottom: 0.75rem;
        }

        .card-text {
            margin-bottom: 1rem;
        }
    </style>
}
